<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>cimri.com | Arama Sonuçları</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body bgcolor="#f0ffff">
<h4>cimri | cebinize çalışır!</h4>
<h3><b th:text="${query} + ' ARAMASI İÇİN ÜRÜN SONUÇLARI'"></b></h3>
<table>
   <tr>
      <th>Ürün Adı</th>
      <th>Marka</th>
      <th>Kategori</th>
      <th>Mağaza</th>
   </tr>
   <tr th:each="product : ${products}">
      <td>
         <a th:text="${product.title}" th:href="@{|/product?id=${product.id}|}"></a>
      </td>
      <td th:text="${product.brand}"></td>
      <td th:text="${product.category}"></td>
      <td>
         <a th:href="@{|${product.url}|}">Mağazaya git</a>
      </td>
   </tr>
</table>
</body>
</html>
